{% extends 'base.html' %}
{% block body%}

<div class="about-section">
    <img src="images/other/LOGO 2.png" class="profile" alt="my-image" />
    <div class="about-me">
      <h2 class="about-heading">About Us</h2>
      <p class="bio">
       FF Competitive is a news and media outlet focusing specifically on the happenings and events in Free Fire Esports in India and around the globe. 
        We are currently the biggest Esports News and Media for Free Fire Esports in India and 4th largest in Free Fire.
        Started in February 2021, FF Competitive won the "Esports News and Media of the Year" award from Asian Guild Community in it's first year of starting it's operations. We are currently active on Instagram with 50k + followers and on YouTube with 7k + subscribers.
      </p>
      <div class="socials">
        <span class="social-img"
          ><a href="https://twitter.com/ff_competitive?t=L4oJSiGoW2vm9z_MzsHtcQ&s=09" target="_blank"
            ><img src="./images/icons/twitter.svg" alt="" /></a></span
        ><span class="social-img">
          <a href="https://www.instagram.com/ff_competitive/" target="_blank"
            ><img src="./images/icons/instagram.svg" alt=""
          /></a> </span
        ><span class="social-img">
          <a href="https://www.youtube.com/FFCOMPETITIVE" target="_blank"
            ><img src="./images/icons/youtube.svg" alt=""
          /></a> </span
        ><span class="social-img">
          <a href="https://www.linkedin.com/company/ff-competitive/" target="_blank"
            ><img src="./images/icons/linkedin.svg" alt=""
          /></a>
        </span>
      </div>
    </div>
  </div>

{%endblock body%}